<% if (isLoggedIn) { %>
  <% if (user.userType === "guest") { %>
  <form action="/favourites" method="POST">
    <button type="submit" class="inline-flex items-center rounded-md bg-green-300 px-4 py-2 font-medium text-slate-900 transition hover:bg-green-400">Add to Favourite</button>
    <input type="hidden" name="id" value="<%= home._id %>">
  </form>
  <% } %>
<% } else { %>
  <a href="/login" class="inline-flex items-center rounded-md bg-green-300 px-4 py-2 font-medium text-slate-900 transition hover:bg-green-400">Log in to save</a>
<% } %>
